# Kridge Protocol Environment Variables
NEXT_PUBLIC_GENLAYER_CONTRACT_ADDRESS="0xC54DCDCBeB99E5773693F894285756E78EdAf242"
NEXT_PUBLIC_BASE_SEPOLIA_RECEIVER="0x9787c1EB118114462Ea43ec098ffBc5A6eB18Baf"
NEXT_PUBLIC_GENLAYER_RPC_URL="https://studio-dev.genlayer.com/api"
NEXT_PUBLIC_BASE_SEPOLIA_RPC_URL="https://sepolia.base.org"
